.title {
    margin-bottom: 20px;
}

.desc {
    font-size: 1.9rem;
    line-height: 1.6;
    color: black;
    font-weight: 300;
    text-align: justify;
}
/* Info */
.info {
    margin-top: 90px;
}

.info .inner-box {
    padding: 30px 0;
}

.info-2 {
    margin-top: 100px;
}
/* End Info */
/* Member */
.member {
    margin-top: 100px;
    margin-bottom: 120px;
}

.member .avt {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
}

.member .inner-head {
    margin-bottom: 70px;
}

.member .inner-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.member .name{
    margin-top: 25px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.8rem;
}
.member .job{
    opacity: 0.7;
}
/* End Member */
