.intro-contact {
    padding: 30px 0;
    background: var(--color-bg);
}

.intro-contact .title {
    margin-bottom: 20px;
    font-size: 6rem;
}

.intro-contact .desc {
    opacity: 0.7;
}

input,
textarea {
    width: 100%;
}

.form-contact {
    padding: 50px 0;
}

.form-contact .container {
    max-width: 700px;
}

.form-contact input , .form-contact textarea {
    padding: 20px 10px;
    margin-bottom: 30px;
}

.form-contact input,
.form-contact textarea {
    font-size: 2rem;
}
.form-contact .inner-btn{
    display: flex;
    justify-content:end;
}
.inner-btn button{
    padding: 10px 30px;
    background: rgba(0,93,99,255);
    border: 1px solid rgba(128, 128, 128, 0.434);
    border-radius: 3px;
    font-weight: 800;
    color: white;
}