@media (max-width:767.98px) {
    .title-head {
        text-align: center;
    }
}
.position {
    background: #2dbcc6c6;
    padding: 15px 0;
    margin: 40px 0 50px;
}

.position .inner-position {
    display: flex;
    align-items: center;
}

.position .inner-position a {
    font-weight: 600;
    font-size: 15px;
    color: white;
}

.position .inner-position span {
    margin: 0 5px;
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.position .inner-position .page-position {
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-color);
}

.position .inner-position a:hover {
    color: var(--primary-color);

}
/* Button */
.btn {
    min-width: 180px;
    background: var(--primary-color);
    color: white;
    font-size: 2rem;
    padding: 10px 0;
    border-radius: 5px;
    transition: ease .5s;
}

.btn:hover {
    color: var(--primary-color);
    background-color: white;
    border-color: var(--primary-color);
    transition: ease .5s;
}

.btn:active {
    transform: scale(0.9);
    transition: ease .5s;
}

.title-head {
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 1.1;
}

/* End Button */
/* Header */
.header {
    width: 100vw;
    height: 8vh;
    background: var(--primary-color);
    z-index: 100;
    position: sticky;
    top: 0;
    /* Thêm thuộc tính này */
}

/* Narbar */
.header .navbar {
    padding: 0;

}

.header .inner-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .navbar .menu {
    display: flex;
}

.header .navbar .menu>li {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    padding: 15px;
    color: white;
    position: relative;
    min-width: 86px;
    text-align: center;
}

.header .navbar .menu>li a {
    color: white;
}

.header .navbar .menu>li:hover {
    background-color: white;
    font-weight: 600;
    color: var(--primary-color);
}

.header .navbar .menu>li:hover a {
    color: var(--primary-color);
}

.header .btn-action {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: white;
}

.header .product-menu {
    display: none;
}

.header .menu>li:nth-child(3):hover .product-menu {
    display: block;
    position: absolute;
    top: 58px;
    left: 0;
}

.header .menu>li:nth-child(3):hover .product-menu>li {
    padding: 15px;
    min-width: 86px;
    text-align: center;
    background-color: white;
}

.header .menu>li:nth-child(3):hover .product-menu>li:hover {
    background: var(--primary-color);
}

.header .menu>li:nth-child(3):hover .product-menu>li:hover a {
    color: white;
}

.header .inner-menu-mobile {
    display: none;
    font-size: 3rem;
}

.menu-mb {
    display: none;
}

@media (max-width:767.98px) {
    .header {
        height: 100%;
        padding: 10px 0;
        position: relative;
    }
    .menu-mb {
        opacity: 0;
        transition: opacity 0.5s ease;
    }
    
    .menu-mb.show {
        display: block;
        opacity: 1;
    }
    

    .header .inner-menu-mobile {
        display: block;
    }

    .menu-mb {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 40px;
        left: 0px;
        padding-left: 50px;
        width: 100%;
        background-color: grey;
    }

    .menu-mb li {
        flex-grow: 1;
    }

    .menu-mb li a {
        padding: 10px;
        display: inline-block;
        font-size: 1.8rem;
        color: white;
        font-weight: 700;
        min-width: 85px;
    }

    .menu-mb li a:hover {
        background-color: white;
        color: var(--primary-color);
    }

    .menu-mb .item-action {
        margin: 10px 0;
    }

    .header .navbar .menu,
    .header .inner-action {
        display: none;
    }
}

/* hader */
.hader {
    background-color: var(--color-bg);
    width: 100vw;
    height: 92vh;
    padding: 50px 0 92px 0;
    color: #131717;
    justify-content: space-between;
    position: relative;
}

.hader .info {
    width: 80%;
}

.hader .info .inner-video {
    margin: 20px 0 30px 0;
    position: relative;
}

.hader .info .inner-video i {
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
    font-size: 30px;
    color: var(--primary-color);
}

.hader .info .desc {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.6;
}

.hader .inner-img img {
    width: 528px;
}

@media (max-width: 991.98px) {
    .hader .info {
        margin-bottom: 30px;
        width: 100%;
    }

    .hader {
        padding-bottom: 50px;
        height: 100%;
    }
}

/* End Header */
/* Intro */
main div.intro {
    margin-top: 70px;
    width: 100vw;
}

.intro {
    display: flex;
    gap: 70px;
}

.intro .title {
    margin-bottom: 30px;
}

.inner-intro {
    margin-top: 30px;
    padding: 15px;
}

.intro .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.6;
}

.intro .menu {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
}

.intro .menu li {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6;
    width: 50%;
    display: flex;
    align-items: center;
}

.intro .menu i {
    font-size: 1.3rem;
    margin-right: 10px;
}

/* End Intro */
/* New Product */
.new-products {
    margin-top: 70px;
}

.new-products .inner-head {
    margin-bottom: 50px;
}

.new-products .inner-box {
    padding: 20px;
    /* box-shadow: 3px 3px 7px rgba(0,0,0,.07); */
    /* box-shadow: 2px 2px 5px rgba(0,0,0,.06); */
    box-shadow: rgba(39, 40, 51, 0.06) 0px 0.25rem 2.5rem;
    margin-bottom: 30px;
}

.new-products .inner-box .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.new-products .inner-box .image {
    width: 100%;
    height: 276px;
    object-fit: cover;
    border-radius: 19px;
}

.new-products .inner-box .status {
    font-size: 1.4rem;
    line-height: 1.7;
    color: #566363;
}

.new-products .inner-box .title {
    font-size: 2rem;
    line-height: 1.7;
    font-weight: 700;
    margin-top: 5px;
}

.new-products .inner-box .evaluate span,
.new-products .inner-box .price {
    font-size: 1.8rem;
    line-height: 1.6;
    color: #566363;
}

.new-products .inner-box .price {
    color: black;
    font-weight: 600;
}

.new-products .inner-btn {
    text-align: center;
    margin-top: 30px;
}

/* End New Product */
/* Services */
.services {
    margin-top: 70px;
}

.services .inner-content {
    padding: 40px 0;
}

.services .inner-head {
    margin-bottom: 50px;

}

.services .inner-services .inner-box {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.services .inner-services .left {
    margin-left: 15px;
}

.services .inner-services .title {
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 1.4;
}

.services .inner-services .desc {
    font-size: 1.4rem;
    line-height: 1.7;
}

.services .inner-btn {
    margin-top: 20px;
}

.services .inner-btn .btn {
    margin-right: 20px;
    margin-bottom: 20px;
}

.btn-services {
    background-color: white;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-services:hover {
    color: white;
    background-color: var(--primary-color);
}

@media (max-width: 767.98px) {
    .services .icon {}
}

/* End Services */
/* Featured Products */
.featured-products {
    margin-top: 70px;
}

.featured-products .inner-head {
    margin-bottom: 50px;
}

.featured-products .inner-box {
    margin-bottom: 30px;
}

.featured-products .inner-box .title {
    font-size: 2rem;
    line-height: 1.7;
    font-weight: 700;
}

.featured-products .inner-box .price {
    font-size: 1.7rem;
    line-height: 1.7;
    font-weight: 600;
}

.featured-products .inner-box .evaluate {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* End Featured Products */
/* Comments */
.comments {
    margin-top: 70px;
}

.comments .inner-head {
    margin-bottom: 80px;
}

.comments .comment-box {
    padding: 20px;
    box-shadow: 0px 36px 79px -12px #004E8A24;
}

.comments .inner-comment {
    font-size: 1.8rem;
    line-height: 1.6;
    color: #566363;
}

.comments .name {
    font-size: 2rem;
    line-height: 1;
    margin: 30px 0 20px;
}

.comments img {
    margin-right: 5px;
}

@media (max-width: 767.98px) {
    .comment-box {
        margin-bottom: 30px;
    }
}

/* End Comments */
/* Sub */
.subscribe {
    padding: 100px 0;
    margin-top: 70px;
    background: var(--primary-color);
    color: white;
}

.subscribe .inner-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.subscribe .title {
    margin-bottom: 35px;
}

.subscribe .desc {
    margin-bottom: 60px;
    width: 470px;
    font-size: 1.7rem;
    line-height: 1.5;
    text-align: center;
    opacity: 0.7;
}

.inner-form-sub input {
    width: 800px;
    border: none;
    outline: none;
}

.inner-form-sub .icon {
    color: var(--primary-color);
    margin: 0 10px;
    font-size: 2.5rem;
}

.inner-form-sub {
    background: white;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.inner-form-sub button {
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 20px;
    border-radius: 6px;
}

@media (max-width: 991.98px) {
    .inner-form-sub input {
        width: 100%;
    }

    .subscribe .desc {
        width: 100%;
    }

    .form-sub {
        width: 100%;
    }
}

/* End Sub */
/* Footer */
.footer {
    padding: 120px 0 20px;
    background: #131717;
    color: white;
}

.footer .title-head {
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.5;
    margin-right: 50px;
    margin-bottom: 30px;
}

.footer .btn {
    border-radius: 999px;
    padding-left: 30px;
    padding-right: 30px;
}

.footer .inner-box .title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 25px;
}

.footer .inner-box li {
    margin-bottom: 10px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #A6B6B6;
}

.footer .line {
    width: 100%;
    height: 1px;
    background: #F1DEB4;
    margin: 55px 0 30px;
}

.footer .social i {
    margin-right: 20px;
    font-size: 25px;
}

.footer .desc {
    text-align: right;
    font-weight: 400;
    line-height: 1.6;
}

@media (max-width: 991.98px) {
    .footer .inner-footer-find {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .footer .inner-box {
        margin-bottom: 30px;
    }
}

/* End Footer */